###############################################################################
###         University of Hawaii, College of Engineering
### @brief  ee205-Animal-Farm - EE 205 - Spr 2022
###
### @file gitignore
### @version 3.0
###
### @author Caleb Mueller <mc61@hawaii.edu>
### @date 23_Apr_2022
###############################################################################

# Project exclude paths
/cmake-build-debug/